.section-wrapper {
  background: var(--dark-gray);
  padding: calc(var(--padding-primary) / 2);
  color: #fff;
}

.item-card {
  padding: calc(var(--padding-primary) / 2) calc(var(--padding-primary) / 4);
  background: var(--light-gray);
}