.main-btn {
  background: var(--pink);
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
}

.main-btn:hover {
  background: #fff;
  color: var(--pink) !important;
}

.second-btn {
  border: 1px solid var(--pink);
  background: transparent;
}

.second-btn:hover {
  color: var(--pink) !important;
  background: transparent;
}