.item-card {
  padding: calc(var(--padding-primary) / 2) calc(var(--padding-primary) / 4);
  background: var(--light-gray);
}

h4 {
  font-size: 15px;
}

h4 span {
  color: var(--dark-text);
}

ul li {
  font-size: 14px;
}

img {
  width: 100%;
}

.star {
  color: yellow;
}

.download {
  color: var(--pink);
}