@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-gray: #1f2122;
  --light-gray: #27292a;
  --pink: #ec6090;
  --dark-text: #666;
  --padding-primary: 60px;
  --padding-extra: 80px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--dark-gray);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.smooth {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}